<tbody>    
    {% for movie in movies %}
        <tr>
            <td class="px-4"></td>
            <td><a href="/user_experience/movie_discussion/{{movie.id}}">{{movie.title}}</a></td>
            <td>{{movie.director}}</td>
            <td>{{movie.poster_low}}</td>
            <td>{{movie.year}}</td>
            <td>{{movie.imdb_rating}}</td>  {# this is actually 'cast' #}
            <td>{{movie.liked_by.count}}</td>
        {% if movie not in user.liked_by.all %}    
        <td><a class=".like" href="/user_experience/like/{{movie.id}}/main_page">Like!</a></td>   
        {% else %}
            <td><a class=".like" href="/user_experience/like/{{movie.id}}/main_page">Unlike!</a></td>
        {% endif %}
        </tr>
    {% endfor %}
</tbody>
