        {% extends "ue_base.html" %}

        {% block page_content %}
        <!-- <div id="wrapper2"> -->
            <div class="">
                <h3 class="yellow_text px-5 mx-5"><i>All Members</i></h3>
                <table id="#main" class="table table-primary table-striped table-hovers">
                                <table id="#main" class="table table-primary table-striped table-hovers">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Name</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                    {% for member in members %}
                        <tr>
                            <th scope="row">{{member.id}}</th>
                            <th scope="row"><a href="/user_experience/user_favorite_movies_page/{{member.id}}">{{member.full_name}}</a></th>
                            <th scope="row"> <a href="#">[Follow / Unfollow] ????</a></th>
                        </tr>
                    {% endfor %}
                    
                </table>
            <!-- </div> -->
        </div> {# END OF wrapper2 #}

            {% endblock page_content %}
