        {% extends "ue_base.html" %}
        {% load static %}


        {% block page_content %}
        <!-- <div id="wrapper2"> -->
            <div class="">
                <h3 class="yellow_text px-5 mx-5"><i>All Members</i></h3>
                <table id="#main" class="table table-primary table-striped table-hovers">
                                <table id="#main" class="table table-primary table-striped table-hovers">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col" class="w-25 px-5">Name</th>
                                <th scope="col">About</th>
                            </tr>
                        </thead>
                        <tbody>

                    {% for member in members %}
                        <tr>
                            <td scope="row"></td>
                            <td scope="row" class="w-25 px-5"><h3><a class="text-decoration-none" href="/user_experience/user_favorite_movies_page/{{member.id}}"><b>{{member.full_name}}</b></a></h3></td>
                            <td class="pe-5">{% if member.about %}{{member.about}}{% endif %}</td>
                        </tr>
                    {% endfor %}
                    
                </table>
            <!-- </div> -->
        </div> {# END OF wrapper2 #}

            {% endblock page_content %}
