{% extends "ue_base.html" %}

{% block page_content %}
    <div id="wrapper2">
        <div class="column" class="vertical_align_top">
            <h3 class="purple"><u><i>{{member.full_name}}</i></u></h3>
            {% comment %} 
                we could put the member's profile picture on this page too
                ...if they don't have one, use a default  
            {% endcomment %}
            <div id="book_information1" class="vertical_align_top">
                <p><b>First Name:</b> {{member.first_name}}</p>
                <p><b>Last Name:</b> {{member.last_name}}</p>
                <p><b>Email:</b> {{member.email}}</p>
                <p><b>Birthday:</b> {{member.birthday|date:"M j, Y"}}</p>
                <p><b>Joined on:</b> {{member.created_at|date:"M j, Y"}}</p>
            </div>

            <div id="page_3_links">
                <a href="/user_experience">Go back</a>
            </div>
        </div>
        <br>
        <div class="column text_align_left" >
            <h3 class="purple"> <u><i>Favorite Movies for {{member.full_name}}</i></u></h3>

            {% for movie in member_likes %}
                <h4>"{{movie.title}}"</h4>
                {% comment %} or an anchor tag to the movie page {% endcomment %}
                <div class="shift_right">
                    <p><i>Release Date - {{movie.year}}</i></p>
                {% if movie.liked_by.count == 1 %}
                    <p>{{movie.liked_by.count}} like</p>
                {% else %}
                    <p>{{movie.liked_by.count}} likes</p>
                {% endif %}
                    {% comment %} {% if movie not in user.liked_by %} {% endcomment %}
                    {% if movie not in user.liked_by.all %}
                    <a href="/like/{{movie.id}}">like</a>
                    {% else %}
                        <a href="/unlike_movie/{{movie.id}}">unlike</a>
                    {% endif %}
                </div>
            {% endfor %}

        </div>
    </div> {# END OF wrapper2 #%}
    {% endblock page_content %}