{% extends "ue_base.html" %}
{% load static %}

{% block page_content %}

<div class="row mx-5 px-5 text-light">
    <h1 class="yellow_text"><i>{{movie.title}}</i></h1>
    <div id="discuss-movie-infoXXXX" class="col-4 bg-warningxxx">
        <h3 class="">{{movie.year}}</h3>
        <img class="w-12 pb-4" src="{{movie.poster_link}}" alt="movie poster">
        <p class="mb-1 mb-negativexx"><i>{{genres}}</i></p>
        <p class="mb-1 justify-text">{{movie.plot}}</p>
        <p class="mb-1">Starring <i>{{movie.cast}}</i></p>
        <p class="mb-1">Directed By <i>{{movie.director}}</i></p>
        <p class="mb-1">IMDB rating {{movie.imdb_rating}}</p>
        {% if movie not in user.liked_by.all %}    
            <a class="like btn btn-sm btn-light btn-outline-secondary my-4" href="" movie_id="{{movie.id}}">like</a>  
        {% else %}
            <a class="like btn btn-sm btn-light btn-outline-secondary my-4" href="" movie_id="{{movie.id}}">un-like</a>  
        {% endif %}
        <p class="pt-2"><span id="like_count_{{movie.id}}" >{{movie.liked_by.count}}</span> likes - liked by: </p>
        {#<p></p>#}
        {% for user in movie.liked_by.all %} <p class='my-1'><a class="ms-4 fst-italic text-decoration-none text-warning" href="xxxxxxxx"> {{user.full_name}} </a></p> {% endfor %}

        <div id="stream-locs"></div>
    </div>
    <div class="col-7 ms-5 ps-5" >
        <h2 class="mb-4 text-light">Discussion about this film:</h2>
        {% if discussions %}
            {% for msg in discussions %}
                    <a class="text-decoration-none text-warning" href= "/user_experience/user_favorite_movies_page/{{msg.user.id}}" >{{msg.user.full_name}}</a>
                    <span> - {{msg.created_at}}</span>
                    <p class="p-2"> {{msg.content}} </p>
                {% for comment in msg.comments.all %}
                        <div class="ms-5">
                            <a class="text-decoration-none text-warning" href= "/user_experience/user_favorite_movies_page/{{comment.user.id}}" class="member-profile-link">{{comment.user.full_name}}</a>
                            <span> - {{comment.created_at}}</span>
                            <p>{{comment.comment}}</p>
                        </div>
                {% endfor %}
                <form class="ms-5 p-2" action="/user_experience/comment/{{msg.id}}/{{movie.id}}"  method="POST">
                    {% csrf_token %}
                    <div class="w-100 text-end" >
                        <textarea rows="2" class="w-50  p-2 mb-2" name="comment" placeholder="Write a response"> </textarea>
                    </div>
                    <div class="w-100 text-end" >
                        <button type="submit" class="btn btn-sm btn-light btn-outline-secondary">Respond</button>
                    </div>
                </form>
            {% endfor %}
        {% else %}
            <h3 class="m-4 text-light">No discussions yet</h3>
        {% endif %}
    
        <div class="spacer"></div>
        <h2 class="my-4 text-light">Share your thoughts about this film:</h2>
        <form action="/user_experience/discuss/{{movie.id}}" method="POST">
            {% csrf_token %}
                <textarea class="w-100 p-2"  name="discuss" rows="6" placeholder="Write your thoughts here"> </textarea>
                <div class="w-100 d-flex justify-content-end">
                    <button type="submit" class="btn btn-sm btn-light btn-outline-secondary my-4"   value="Post message" id="submit-post-btn" class="wall-btn">Share</button>
                </div>
        </form>
    </div>


<div class="spacer"></div>

<form action="/user_experience/delete_discussions" method="POST">
    {% csrf_token%}
    <button type=submit>Delete all posts</button>
</form>
</div>

{% endblock page_content %}
