<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stream Bunny</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'user_experience_app/css/style.css' %}">
    <script src="{% static 'user_experience_app/js/script.js' %}"></script>
</head>
<body>
    <div id="wrapper1">
        
        <h1><b><u>[ {{name_of_page}} ]</u></b></h1>
        <p>
            Links for this page:
            <a id="log_out" href="/logout">Log Out</a> | 
            <a href="/user_experience">Favorite Movies Main Page</a> | 
            <a href="user_favorite_movies_page">user_favorite_movies_page</a> | 
            <a href="movie_info_discussion_page">movie_info_discussion_page</a> | 
            <a href="user_info_page">User Info Page</a> | 
            <a href="user_info_page_edit">user_info_page_edit</a> | 
            <a href="user_info_page">user_info_page</a> | 
            <a href="discussion_partial">discussion_partial</a> | 
            <a href="discussion_partial_edit">discussion_partial_edit</a> |     
        </p>
        <header class="display-1">STREAM BUNNY HEADER</header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="javascript:void(0)">Logo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Link</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="text" placeholder="Search">
                        <button class="btn btn-primary" type="button">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        {% block page_content %} 
        
        <p class="display-1">this is z_base.html</p>


        {% endblock page_content %}            
        
    </div>
</body>
</html>
