<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stream Bunny!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">    <!-- Optional JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'user_experience_app/js/script.js' %}"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap');
    </style>
</head>
{% endblock head %}

<body>
    <div id="wrapper1">

        {% comment %}
        
        <h1><b><u>[ {{name_of_page}} ] <span class="text-danger">(remove later)</span> </u></b></h1>
        <p>
            Links for this site <span class="text-danger">(remove later)</span>: 
            <a id="log_out" href="/login/logout">Log Out</a> | 
            <a href="/user_experience">Favorite Movies Main Page</a> | 
            <a href="/user_experience/movie_info_discussion_page">movie_info_discussion_page</a> | 
            <a href="/user_experience/user_favorite_movies_page">user_favorite_movies_page</a> | 
            <a href="/user_experience/user_info_page">user_info_page</a> | 
            <a href="/user_experience/user_info_page_edit">user_info_edit_partial</a> | 
            <a href="/user_experience/comment">comment_partial</a> | 
            <a href="/user_experience/response">response_partial</a> |     
        </p>

        {% endcomment %}

        {% block carousel %}
            <div id="carousel" class="container">
                <div id="carouselExampleSlidesOnly" class="carousel slide display-d" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'user_experience_app/images/1.png' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'user_experience_app/images/2.jpeg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'user_experience_app/images/3.jpeg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'user_experience_app/images/4.jpeg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'user_experience_app/images/5.jpeg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'user_experience_app/images/6.jpeg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'user_experience_app/images/7.jpeg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'user_experience_app/images/8.jpeg' %}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        {% endblock carousel %}
            
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-between">
            <div class="container-fluid">
                <a id="has_logo" class="navbar-brand" href="javascript:void(0)">
                    <img src="{% static 'user_experience_app/images/logo.png' %}" alt="My image" id="logo">
                    <span class="alegreya logo-title">Stream Bunny</span>
                    {# <span class="alegreya"> Your Second-To-Last Stop</span> #}
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse w-100" id="mynavbar">
                    <ul class="navbar-nav me-auto w-100 justify-content-around">
                        <li class="nav-item">
                            <a class="nav-link" href="/user_experience">Favorite Movies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user_experience/">Members</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Stream Bunny Search </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user_experience/user_info_page">{{user.first_name}} {{user.last_name}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login/logout">Log Out</a>
                        </li>
                    </ul>

                    {% comment %}
                    <form class="d-flex">
                        <input id="search_ue" class="form-control me-2" type="text" placeholder="Search">
                        <button class="btn btn-primary" type="button">Search</button>
                    </form>
                    {% endcomment %}

                </div>
            </div>
        </nav>
        {% block page_content %} 
        
        <p class="display-1">this is z_base.html</p>


        {% endblock page_content %}            
        
    </div>
</body>
{% block script %}
{% endblock script %}
</html>
