* {
    margin:0px;
    border:0px;
    padding:0px;
    box-sizing: border-box;
    vertical-align: top;
    /* outline:pink 1px dotted; */
}
.search_ue {
    width:500px;
}
#carousel {
    width:20%;
    height:190px;
    margin:0px auto;
}