* {
    margin:0px;
    border:0px;
    padding:0px;
    box-sizing: border-box;
    vertical-align: top;
    /* outline:pink 1px dotted; */
}
body {
    background-image: linear-gradient(lightblue,lightyellow,lightblue);
    background-color: #1e90ff;
}
#wrapper1 {
    /* outline : 4px solid #fad711; */
    width: 100%;
    min-height: 1400px;
    /* max-height: 500px;  */
    /* margin: 20px auto; */
    /* border: 1px solid black; */
    /* border-radius: 8px; */
    background-color: #1e90ff;
}
.w-13 {
    width: 13%;
}

